@import "~bootstrap/scss/bootstrap";
@import "styles/bank";

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	margin: auto;
	height: 100%;
	padding: 1rem;
}
