<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.sasylf.perspectives.EditorPerspective"
            icon="icons/releng_gears.gif"
            id="org.sasylf.perspectives.EditorPerspective"
            name="SASyLF">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.sasylf.editors.ProofEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="slf"
            icon="icons/slf.gif"
            id="org.sasylf.editors.ProofEditor"
            name="SASyLF editor">
      </editor>
   </extension>
  
   
   
   

   <extension
         id="org.sasylf.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.sasylf.taskmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.sasylf.handlers.CheckProofsHandler"
            commandId="org.sasylf.commands.checkProofs">
      </handler>
      <handler
            class="org.sasylf.handlers.AboutHandler"
            commandId="org.sasylf.commands.about"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.sasylf.commands.checkProofs"
            contextId="org.sasylf.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
      <key
            commandId="org.sasylf.commands.reindent"
            contextId="org.sasylf.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="org.sasylf.commands.addComment"
            contextId="org.sasylf.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="org.sasylf.commands.removeComment"
            contextId="org.sasylf.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+\">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.sasylf.menus.mainMenu"
               label="SASyLF"
               mnemonic="S">
            <command
            		commandId="org.sasylf.commands.about"
            		mnemonic="A"/>
            <command
            		commandId="org.sasylf.commands.togglenature"/>
            <command
                  commandId="org.sasylf.commands.checkProofs"
                  id="org.sasylf.menus.checkProofs"
                  mnemonic="C">
            </command>
            <command
            	commandId="org.sasylf.commands.reindent"
            	id="org.sasylf.menus.reindent"
            	mnemonic="I"/>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.sasylf.inPerspective">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.sasylf.toolbars.sampleToolbar">
            <command
                  commandId="org.sasylf.commands.checkProofs"
                  icon="icons/green_check.png"
                  id="org.sasylf.toolbars.checkProofs"
                  tooltip="Run SASyLF on proofs to find errors">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.sasylf.inPerspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
        allPopups="false"
        locationURI="popup:org.eclipse.ui.popup.any?before=additions">
        <separator
              name="edits"
              visible="true"/>
        <separator name="imports" visible="true"/>
      </menuContribution>
      
      <menuContribution 
      	allPopups="false"
      	locationURI="popup:org.eclipse.ui.popup.any?before=edits">
      	<command
             commandId="org.sasylf.commands.open"
             label="Open Declaration"
             style="push"
             tooltip="Go to declaration of named judgment or theorem">
           <visibleWhen>
   			<and>
      			<with variable="activeEditorInput">
        			<reference definitionId="org.sasylf.isProofFile"/>
      			</with>
      			<with variable="selection">
         			<adapt type="org.eclipse.jface.text.ITextSelection"/>
      			</with>
   			</and>
			</visibleWhen>
		</command>
       <menu
             label="Refactor">
          <command
                commandId="org.sasylf.commands.renameTheorem"
                label="Rename Theorem"
                style="push"
                tooltip="Rename a lemma or theorem">
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <with
                         variable="activeEditorInput">
                      <reference
                            definitionId="org.sasylf.isProofFile">
                      </reference>
                   </with>
                   <with
                         variable="selection">
                      <adapt
                            type="org.eclipse.jface.text.ITextSelection">
                      </adapt>
                   </with>
                </and>
             </visibleWhen>
          </command>
       </menu>
	  </menuContribution>
      <menuContribution 
      	allPopups="false"
      	locationURI="popup:org.eclipse.ui.popup.any?before=edits">
      	<command
             commandId="org.sasylf.commands.checkProofs"
             icon="icons/green_check.png"
             id="org.sasylf.popup.checkProofs"
             label="Check Proofs"
             style="push"
             tooltip="Run SASyLF on proofs to find errors">
           <visibleWhen>
   			<or>
      			<with variable="selection">
         			<iterate ifEmpty="false">
           				<reference definitionId="org.sasylf.isProofFile"/>
         			</iterate>
      			</with>
      			<with variable="activeEditorInput">
        			<reference definitionId="org.sasylf.isProofFile"/>
      			</with>
   			</or>
			</visibleWhen>
		</command>
	</menuContribution>

      <menuContribution 
      	allPopups="false"
      	locationURI="popup:org.eclipse.ui.popup.any?after=edits">
      	<command
             commandId="org.sasylf.commands.deletepackage"
             label="Delete"
             style="push"
             icon="icons/delete.gif"
             tooltip="Delete a package">
           <visibleWhen>
   			<or>
      			<with variable="selection">
      				<iterate ifEmpty="false">
         				<instanceof value="org.sasylf.project.IPackageFragment"/>
         			</iterate>
      			</with>
   			</or>
			</visibleWhen>
		</command>
	</menuContribution>

      <menuContribution 
      	allPopups="false"
      	locationURI="popup:org.eclipse.ui.popup.any?after=imports">
      	<command
             commandId="org.eclipse.ui.file.import"
             label="Import..."
             style="push"
             icon="icons/import_wiz.gif">
           <visibleWhen>
   			<or>
      			<with variable="selection">
      				<iterate ifEmpty="false">
         				<instanceof value="org.sasylf.project.IPackageFragment"/>
         			</iterate>
      			</with>
   			</or>
			</visibleWhen>
		</command>
      	<command
             commandId="org.eclipse.ui.file.export"
             label="Export..."
             style="push"
             icon="icons/export_wiz.gif">
           <visibleWhen>
   			<or>
      			<with variable="selection">
      				<iterate ifEmpty="false">
         				<instanceof value="org.sasylf.project.IPackageFragment"/>
         			</iterate>
      			</with>
   			</or>
			</visibleWhen>
		</command>
	</menuContribution>

      <menuContribution 
      	allPopups="false"
      	locationURI="popup:org.eclipse.ui.popup.any?before=edits">
      	<command
             commandId="org.sasylf.commands.new"
             icon="icons/slf.gif"
             id="org.sasylf.popup.newProof"
             label="New SASyLF Proof"
             style="push"
             tooltip="Create a SASyLF proof file">
           <visibleWhen>
   			<or>
      			<with variable="selection">
      				<iterate ifEmpty="false">
         				<instanceof value="org.sasylf.project.IPackageFragment"/>
         			</iterate>
      			</with>
   			</or>
			</visibleWhen>
		</command>
      	<command
             commandId="org.sasylf.commands.newpackage"
             icon="icons/package_obj.png"
             id="org.sasylf.popup.newPackage"
             label="New SASyLF Package"
             style="push"
             tooltip="Create a SASyLF proof package">
           <visibleWhen>
   			<or>
      			<with variable="selection">
      				<iterate ifEmpty="false">
         				<instanceof value="org.sasylf.project.IPackageFragment"/>
         			</iterate>
      			</with>
   			</or>
			</visibleWhen>
		</command>
	</menuContribution>

      
      <menuContribution
            allPopups="false"
            locationURI="menu:new">
         <command
               commandId="org.sasylf.commands.newproject"
               icon="icons/newsprj_wiz.png"
               label="SASyLF Project"
               mnemonic="J"
               style="push"
               tooltip="Create a new SASyLF project">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.sasylf.inPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.sasylf.commands.newpackage"
               icon="icons/newpack_wiz.png"
               label="SASyLF Package"
               mnemonic="P"
               style="push"
               tooltip="Create a new SASyLF proof package">
            <visibleWhen
                  checkEnabled="false">
               <and>
                    <reference definitionId="org.sasylf.inPerspective"/>
                    <with variable="selection">
      				    <iterate ifEmpty="false">
      				        <adapt type="org.eclipse.core.resources.IResource">
          						<test property="org.eclipse.core.resources.projectNature" 
                					  value="org.sasylf.nature"/>
       						</adapt>
         			    </iterate>
         		    </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.sasylf.commands.new"
               icon="icons/slf.gif"
               label="SASyLF Proof"
               mnemonic="S"
               style="push"
               tooltip="Create a new SASyLF proof file">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.sasylf.inPerspective">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorRulerContext?after=QuickDiff.Toggle">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
               label="Quick Fix"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.sasylf.commands.proofs"
            name="Category of proof related commands">
      </category>
      <command
            categoryId="org.sasylf.commands.proofs"
            id="org.sasylf.commands.checkProofs"
            name="Check Proofs">
      </command>
      <command
            id="org.sasylf.commands.about"
            name="About SASyLF"/>
      <command
            defaultHandler="org.sasylf.handlers.DeletePackageHandler"
            id="org.sasylf.commands.deletepackage"
            name="Delete Package"
            description="Delete a package and all/any files in it."/>
      <command
            defaultHandler="org.sasylf.handlers.NewProofHandler"
            description="Open dialog to create a new SASyLF proof file"
            id="org.sasylf.commands.new"
            name="New Proof ...">
      </command>
      <command
            categoryId="org.sasylf.commands.proofs"
            defaultHandler="org.sasylf.handlers.CorrectIndentationHandler"
            description="Correct indentation of lines in selection"
            id="org.sasylf.commands.reindent"
            name="Correct Indentation">
      </command>
      <command
            categoryId="org.sasylf.commands.proofs"
            defaultHandler="org.sasylf.handlers.AddCommentHandler"
            description="Comment out all lines selected (or current line)"
            id="org.sasylf.commands.addComment"
            name="Add Comment">
      </command>
      <command
            categoryId="org.sasylf.commands.proofs"
            defaultHandler="org.sasylf.handlers.RemoveCommentHandler"
            description="Uncomment all lines selected (or current line)"
            id="org.sasylf.commands.removeComment"
            name="Remove Comment">
      </command>
      <command
            defaultHandler="org.sasylf.handlers.OpenDeclarationHandler"
            description="Go to the declaration of judgment or theorem"
            id="org.sasylf.commands.open"
            name="Open Declaration">
      </command>
      <command
            defaultHandler="org.sasylf.handlers.NewProofPackageHandler"
            description="Open a dialog to create new SASyLF package"
            id="org.sasylf.commands.newpackage"
            name="New package ...">
      </command>
      <command
            defaultHandler="org.sasylf.handlers.NewProofProjectHandler"
            description="Open a dialog to create new SASyLF project"
            id="org.sasylf.commands.newproject"
            name="New project ...">
      </command>
      <command
            defaultHandler="org.sasylf.handlers.ToggleNatureHandler"
            description="Turn off/on SASyLF Nature on selected project"
            id="org.sasylf.commands.togglenature"
            name="Toggle SASyLF Nature">
      </command>
      <command
            defaultHandler="org.sasylf.refactor.RenameTheoremHandler"
            description="Rename a lemma or theorem"
            id="org.sasylf.commands.renameTheorem"
            name="Rename Theorem">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sasylf.isProofFile">
         <with variable="activeEditorId">
           <equals value="org.sasylf.editors.ProofEditor"/>
         </with>
      </definition>
      <definition id="org.sasylf.inPerspective">
          <with variable="activeWorkbenchWindow.activePerspective">
               <equals value="org.sasylf.perspectives.EditorPerspective"/>
          </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.sasylf.wizards"
            name="SASyLF Wizards">
      </category>
      <wizard
            category="org.sasylf.wizards"
            class="org.sasylf.wizards.NewProofWizard"
            icon="icons/slf.gif"
            id="org.sasylf.wizards.newproof"
            name="SASyLF Proof file"
            project="false">
      </wizard>
      <wizard
            category="org.sasylf.wizards"
            class="org.sasylf.wizards.NewProofPackageWizard"
            icon="icons/newpack_wiz.png"
            id="org.sasylf.wizards.newpackage"
            name="SASyLF Proof Package"
            project="false">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="The context of SASyLF proof files"
            id="org.sasylf.context"
            name="SASyLF"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sasylf.preferences.PreferencePage"
            id="org.sasylf.preferences.PreferencePage"
            name="SASyLF Preferences">
      </page>
      <page
            name="Colors"
            category="org.sasylf.preferences.PreferencePage"
            class="org.sasylf.preferences.PreferencePageColors"
            id="org.sasylf.preferences.PreferencePageColors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sasylf.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.sasylf.editors.MarkerResolutionGenerator"
            markerType="org.sasylf.marker">
         <attribute
               name="org.sasylf.has.fix"
               value="true">
         </attribute>
      </markerResolutionGenerator>
   </extension>
   <extension
         id="nature"
         name="SASyLF Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.sasylf.project.MyNature">
         </run>
      </runtime>
      <builder
            id="org.sasylf.proofBuilder">
      </builder>
   </extension>
   <extension
         id="org.sasylf.proofBuilder"
         name="SASyLF Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.sasylf.project.ProofBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/proof_overlay.gif"
            id="proof.overlay"
            natureId="org.sasylf.nature">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.sasylf.project.MyContentProvider"
            icon="icons/packagefolder_obj.png"
            id="org.sasylf.project.navigator.content"
            labelProvider="org.sasylf.project.MyLabelProvider"
            name="Proof Navigator Content"
            priority="higher">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof value="org.eclipse.core.resources.IProject"/>
               <instanceof
                     value="org.sasylf.project.IPackageFragment">
               </instanceof>
               <instanceof value="org.eclipse.core.resources.IFile"/>
            </or>
         </enablement>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <commonSorter
               class="org.sasylf.project.MySorter">
            <parentExpression>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <commonWizard
            type="new"
            wizardId="org.sasylf.wizards.newproject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.sasylf.wizards.newpackage">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.sasylf.wizards.newproof">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.sasylf.project.navigator.content">
            </contentExtension></includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.sasylf.view.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.sasylf.wizards"
            class="org.sasylf.wizards.NewProjectWizard"
            icon="icons/newsprj_wiz.png"
            id="org.sasylf.wizards.newproject"
            name="SASyLF Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.sasylf.project.ProjectPropertyPage"
            id="org.sasylf.project.properties"
            name="SASyLF Properties">
         <enabledWhen>
            <and>
              <instanceof
                  value="org.eclipse.core.resources.IProject">
              </instanceof>
              <test property="org.eclipse.core.resources.projectNature"
                    value="org.sasylf.nature"/>
            </and>
         </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.sasylf.refactor.MoveProofFile"
            id="org.sasylf.refactor.move"
            name="Move SASyLF Proof File">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IFile"/>
            <test
                  property="org.eclipse.core.resources.name"
                  value="*.slf">
            </test>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.sasylf.nature">
                  </equals>
               </iterate>
            </with></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.sasylf.refactor.RenameProofModule"
            id="org.sasylf.refactor.rename"
            name="Rename SASyLF module">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IFile"/>
            <test
                  property="org.eclipse.core.resources.name"
                  value="*.slf">
            </test>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.sasylf.nature">
                  </equals>
               </iterate>
            </with></enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.sasylf.util.ResourceDocumentProvider"
            id="org.sasylf.editors.ResourceDocumentProvider"
            inputTypes="org.sasylf.util.ResourceEditorInput">
      </provider>
   </extension>

</plugin>
