.rule-like {
	text-align: left;
	text-wrap: nowrap;
	width: stretch;
}

.rule-likes {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.rule-like-text {
	color: inherit;
}

.exact,
#bank-canvas {
	width: fit-content;
}

.open-bank {
	position: absolute;
	top: 50%;
	left: 40px;
	border-color: rgba(0, 0, 0, 0);
	z-index: 10;
}

.bank-outer {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: none;
	z-index: 1044;
	background: white;
	transition: width 0.5s ease;
}

.bank-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.bank-resizer {
    flex: none;
    width: 8px;
	justify-self: flex-end;
	cursor: col-resize;
	resize: horizontal;
}

.bank-resizer:hover {
	width: 2px;
    margin-left: 2px;
    margin-right: 4px;
	background: red;
}
