.rule-like {
	text-align: left;
	width: stretch;
}

.rule-like-text {
	color: inherit;
}

.bank,
#bank-canvas {
	width: fit-content;
}

.open-bank {
	position: absolute;
	top: 50%;
	left: 5px;
	border-color: rgba(0, 0, 0, 0);
}
