.zoomable-canvas {
	overflow: hidden;
	position: relative;
}

.canvas {
	display: grid;
	height: 90vh;
	width: 97vw;
	background-color: rgba(0, 0, 0, 0);
	z-index: -1;
}

.tools {
	position: absolute;
	z-index: 9;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	right: 0;
}

.input-theorem {
	position: absolute;
	top: 3.5vh;
	right: 2vw;
}

.theorem-list {
	position: absolute;
	z-index: 9;
}
