.proof-area {
	justify-content: center;
}

.node-line {
	background-color: black;
	height: 4px;
	border-radius: 5px;
	width: stretch;
}

.proof-node {
	position: absolute;
	font-family: "Courier New", monospace;
	align-items: center;
}

.root-node {
	bottom: 0;
}

.drop-area {
	position: absolute;
	bottom: 4.5px;
	border: dashed;
	border-radius: 10px;
}

.rule-drop {
	white-space: nowrap;
}
